* {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

button {
    background-image: none;
    border: none;           
    border-radius: 8px; 
    box-shadow: none;         
    outline: none;             
}

button:focus {
    outline: none;            
    box-shadow: none;      
}

.text_color_white {
    color: #fff;
}

.text_color_green {
    color: #02E079;
}

.text_h1 {
    font-size: 32px;
    font-weight: 900;
}

.text_h2 {
    font-size: 24px;
    font-weight: bold;
}

.text_bold {
    font-weight: bold;
}

.custom_form {
    /* width: 1280px; */
    padding: 60px 120px;
    background-color: #013243;
    border-radius: 10px;
}

.custom_button {
    background-color: #02E079;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
}

.custom_button:hover {
    background-color: #13CD76;
}

.custom_button:active {
    background-color: #24BC75;
}

.custom_input {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #1C4857;
    border: none;
    outline: none;
    color: #fff;
}

.custom_switcher > button {
    background-color: transparent;
    color: #fff;
    margin: 2px;
    padding: 8px 10px;
    border-radius: 0;
}

.custom_switcher > button:checked {
    /* background-color: #02E079; */
    color: #fff;
    font-weight: bold;
    border-bottom: 3px solid #02E079;
}